In [2]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract


# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [6]:
#  3. Convert the June temperatures to a list.
junetemps = list(results)

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
junetemps_df = pd.DataFrame(junetemps)

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
junetemps_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
decresults = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [10]:
# 7. Convert the December temperatures to a list.
dectemps = list(decresults)

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dectemps_df = pd.DataFrame(dectemps)

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dectemps_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D3: Additional Queries

In [47]:
# precipitation levels in June
precip_results_june = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()
precip_june = list(precip_results_june)
precip_june_df = pd.DataFrame(precip_june)


precip_june_df.describe().rename({'prcp': 'june prpc'}, axis = 'columns')

         june prpc
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [48]:
# precipitation levels in December
precip_results_dec = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
precip_dec = list(precip_results_dec)
precip_dec_df = pd.DataFrame(precip_dec)

precip_dec_df.describe().rename({'prcp': 'dec prpc'}, axis = 'columns')

          dec prpc
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

In [50]:
# "by station" view of the June data
by_station = session.query(Station.station, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
by_station_june_list = list(by_station)
by_station_june_df = pd.DataFrame(by_station_june_list)
by_station_june_df.groupby('station').mean()

                  tobs
station
USC00511918  74.944118
USC00513117  74.944118
USC00514830  74.944118
USC00516128  74.944118
USC00517948  74.944118
USC00518838  74.944118
USC00519281  74.944118
USC00519397  74.944118
USC00519523  74.944118

In [49]:
# "by station" view of the December data


by_station_dec = session.query(Station.station, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
by_station_dec_list = list(by_station_dec)
by_station_dec_df = pd.DataFrame(by_station_dec_list)
by_station_dec_df.groupby('station').mean()

                  tobs
station
USC00511918  71.041529
USC00513117  71.041529
USC00514830  71.041529
USC00516128  71.041529
USC00517948  71.041529
USC00518838  71.041529
USC00519281  71.041529
USC00519397  71.041529
USC00519523  71.041529